@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px; /* Max width 1200px */
  min-width: 320px;  /* Min width 320px */
  margin: 0 auto;    /* Center the container */
  padding: 0 15px;   /* Add some padding for responsiveness */
}
